.slidera {
    width: 301px;
    height: 240px;
    position: relative;
    overflow: hidden;
}

.slidera > input {
    display: none;
}

.slidera > label {
    display: none;
}

.slidera > input:checked + div + label,
.slidera > input:checked + div + label + label {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    cursor: pointer;
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
    z-index: 100;
}

.leftpointer {
    display: none;
}

.rightpointer {
    display: none;
}

.slidera > input:checked + div + label + label:after,
.slidera > input:checked + div + label:after {
    font-size: 30px;
    color: #fff;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    line-height: 80px;
}

.slidera > input:checked + div + label {
    left: -40px;
}

.slidera > input:checked + div + label:after {
    content: '';
    left: 55%;
}

.slidera > input:checked + div + label + label {
    right: -40px;
}

.slidera > input:checked + div + label + label:after {
    content: '';
    right: 55%;
}

.slidera > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.slidera > div {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
}

.slidera > input:checked + div {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
}













.sliderb {
    width: 301px;
    height: 240px;
    position: relative;
    overflow: hidden;
}

.sliderb > input {
    display: none;
}

.sliderb > label {
    display: none;
}

.sliderb > input:checked + div + label,
.sliderb > input:checked + div + label + label {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    cursor: pointer;
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
    z-index: 100;
}

.leftpointer {
    display: none;
}

.rightpointer {
    display: none;
}

.sliderb > input:checked + div + label + label:after,
.sliderb > input:checked + div + label:after {
    font-size: 30px;
    color: #fff;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    line-height: 80px;
}

.sliderb > input:checked + div + label {
    left: -40px;
}

.sliderb > input:checked + div + label:after {
    content: '';
    left: 55%;
}

.sliderb > input:checked + div + label + label {
    right: -40px;
}

.sliderb > input:checked + div + label + label:after {
    content: '';
    right: 55%;
}

.sliderb > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.sliderb > div {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
}

.sliderb > input:checked + div {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
}









.sliderc {
    width: 301px;
    height: 240px;
    position: relative;
    overflow: hidden;
}

.sliderc > input {
    display: none;
}

.sliderc > label {
    display: none;
}

.sliderc > input:checked + div + label,
.sliderc > input:checked + div + label + label {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    cursor: pointer;
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
    z-index: 100;
}

.leftpointer {
    display: none;
}

.rightpointer {
    display: none;
}

.sliderc > input:checked + div + label + label:after,
.sliderc > input:checked + div + label:after {
    font-size: 30px;
    color: #fff;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    line-height: 80px;
}

.sliderc > input:checked + div + label {
    left: -40px;
}

.sliderc > input:checked + div + label:after {
    content: '';
    left: 55%;
}

.sliderc > input:checked + div + label + label {
    right: -40px;
}

.sliderc > input:checked + div + label + label:after {
    content: '';
    right: 55%;
}

.sliderc > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.sliderc > div {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
}

.sliderc > input:checked + div {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
}













@media (min-width: 768px) {
    .leftpointer {
        display: block;
        padding-left: 50px;
    }

    .rightpointer {
        display: block;
        padding-right: 65px;
    }

    .slidera {
        width: 236px;
        height: 401px;
        position: relative;
        overflow: hidden;
    }
    .sliderb {
        width: 236px;
        height: 401px;
        position: relative;
        overflow: hidden;
    }
    .sliderc {
        width: 236px;
        height: 401px;
        position: relative;
        overflow: hidden;
    }
}



@media (min-width: 1440px) {



  .slidera > input:checked + div + label,
  .slidera > input:checked + div + label + label {
      top: 48%;
  }
  .sliderb > input:checked + div + label,
  .sliderb > input:checked + div + label + label {
      top: 48%;
  }
  .sliderc > input:checked + div + label,
  .sliderc > input:checked + div + label + label {
      top: 48%;
  }


    .slidera {
        width: 300px;
        height: 400;
        position: relative;
        overflow: hidden;
    }
    .sliderb {
      width: 300px;
      height: 400;
        position: relative;
        overflow: hidden;
    }
    .sliderc {
      width: 300px;
      height: 400;
        position: relative;
        overflow: hidden;
    }
}
