.sliderA {
    width: 301px;
    height: 240px;
    position: relative;
    overflow: hidden;
}

.sliderA > input {
    display: none;
}

.sliderA > label {
    display: none;
}

.sliderA > input:checked + div + label,
.sliderA > input:checked + div + label + label {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    cursor: pointer;
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
    z-index: 100;
}

.leftpointer {
    display: none;
}

.rightpointer {
    display: none;
}

.sliderA > input:checked + div + label + label:after,
.sliderA > input:checked + div + label:after {
    font-size: 30px;
    color: #fff;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    line-height: 80px;
}

.sliderA > input:checked + div + label {
    left: -40px;
}

.sliderA > input:checked + div + label:after {
    content: '';
    left: 55%;
}

.sliderA > input:checked + div + label + label {
    right: -40px;
}

.sliderA > input:checked + div + label + label:after {
    content: '';
    right: 55%;
}

.sliderA > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.sliderA > div {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
}

.sliderA > input:checked + div {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
}













.sliderB {
    width: 301px;
    height: 240px;
    position: relative;
    overflow: hidden;
}

.sliderB > input {
    display: none;
}

.sliderB > label {
    display: none;
}

.sliderB > input:checked + div + label,
.sliderB > input:checked + div + label + label {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    cursor: pointer;
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
    z-index: 100;
}

.leftpointer {
    display: none;
}

.rightpointer {
    display: none;
}

.sliderB > input:checked + div + label + label:after,
.sliderB > input:checked + div + label:after {
    font-size: 30px;
    color: #fff;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    line-height: 80px;
}

.sliderB > input:checked + div + label {
    left: -40px;
}

.sliderB > input:checked + div + label:after {
    content: '';
    left: 55%;
}

.sliderB > input:checked + div + label + label {
    right: -40px;
}

.sliderB > input:checked + div + label + label:after {
    content: '';
    right: 55%;
}

.sliderB > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.sliderB > div {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
}

.sliderB > input:checked + div {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
}









.sliderC {
    width: 301px;
    height: 240px;
    position: relative;
    overflow: hidden;
}

.sliderC > input {
    display: none;
}

.sliderC > label {
    display: none;
}

.sliderC > input:checked + div + label,
.sliderC > input:checked + div + label + label {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    cursor: pointer;
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
    z-index: 100;
}

.leftpointer {
    display: none;
}

.rightpointer {
    display: none;
}

.sliderC > input:checked + div + label + label:after,
.sliderC > input:checked + div + label:after {
    font-size: 30px;
    color: #fff;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    line-height: 80px;
}

.sliderC > input:checked + div + label {
    left: -40px;
}

.sliderC > input:checked + div + label:after {
    content: '';
    left: 55%;
}

.sliderC > input:checked + div + label + label {
    right: -40px;
}

.sliderC > input:checked + div + label + label:after {
    content: '';
    right: 55%;
}

.sliderC > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.sliderC > div {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
}

.sliderC > input:checked + div {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
}













@media (min-width: 768px) {
    .leftpointer {
        display: block;
        padding-left: 50px;
    }

    .rightpointer {
        display: block;
        padding-right: 65px;
    }

    .sliderA {
        width: 236px;
        height: 401px;
        position: relative;
        overflow: hidden;
    }
    .sliderB {
        width: 236px;
        height: 401px;
        position: relative;
        overflow: hidden;
    }
    .sliderC {
        width: 236px;
        height: 401px;
        position: relative;
        overflow: hidden;
    }
}
