@import 'fonts';
$fontMonB: "Montserrat Bold", Arial, sans-serif;
$fontMonR: "Montserrat Regular", Arial, sans-serif;
$fontRblack: "Robotoblack", Arial, sans-serif;
$fontRIt: "Robotoblack Italic", Arial, sans-serif;
$fontRB: "Robotobold", Arial, sans-serif;
$fontRBIt: "Robotobold Italic", Arial, sans-serif;
$fontRI: "Roboto Italic", Arial, sans-serif;
$fontRL: "Roboto Light", Arial, sans-serif;
$fontRLI: "Robotolight Italic", Arial, sans-serif;
$fontRM: "Roboto Medium", Arial, sans-serif;
$fontRMI: "Robotomedium Italic", Arial, sans-serif;
$fontRR: "Roboto Regular", Arial, sans-serif;
$fontRT: "Roboto Thin", Arial, sans-serif;
$fontRTI: "Robotothin Italic", Arial, sans-serif;


// '(max-width: 767px)';
// '(min-width: 768px) and (max-width: 1439px)';
// '(min-width: 1440px)';
